   <div class="grid">

    <div class="col-12 bg-primary">
      <h1 class="text-center">{{ title }}</h1>
    </div>

    <div class="col-12">
        <div class="card shadow-5">
          <div class="card-body">
            <app-cloth-add></app-cloth-add>
          </div>
        </div>
    </div> 
    
    <div class="col-12">
      <div class="card shadow-2">
        <div class="card-body">
          <app-cloth-list></app-cloth-list>
        </div>
      </div>
  </div> 
</div>



<router-outlet />
